  @import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@400;700&display=swap');
:root{
    --color: #ffffff8f;
}
body{
    font-family: 'Red Hat Text', sans-serif;
    margin: 0;
}
header{
  background-color: rgba(128, 128, 128, 0.784);
  display: flex;
  justify-content: center;
  gap: 10em;
  position: fixed;
  left: 0;
  right: 0;
}
header a{
  background-color: transparent;
  color: white;
  font-weight: lighter;
  text-transform: capitalize;
}
.container{
    text-align: center;
    color: var(--color);
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image:url(images/sina-bahar-WXRX-ouRL20-unsplash.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

}
h1{
    font-weight: 700;
    font-size: 4rem;
    margin: 0;
    padding:0 ;
}

p{
    max-width: 52ch;
    line-height: 1.5;
    padding:1em;
    font-size: 1.25em;
    color: #ffffff90;
    margin: 0;
    padding: 10px;
}
a{
    display: inline-block;
    padding: 1em 3.5em;
    background-color: var(--color);
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 0.3em;
    font-weight: 700;
    letter-spacing: .5px;
    font-size: .875rem;
    padding: 10px;
}
.blank,
.other{
  width: 100%;
  min-height: 60vh;
  background-color:#746f6f;
  
}
.blank{
    background-image: url(images/sebastien-gabriel--IMlv9Jlb24-unsplash.jpg);
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.695);
    background-blend-mode: multiply;
    -webkit-box-shadow: 0px 29px 38px -15px rgba(0,0,0,0.43);
    -moz-box-shadow: 0px 29px 38px -15px rgba(0,0,0,0.43);
    box-shadow: 0px 29px 38px -15px rgba(0,0,0,0.43);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(177, 177, 177, 0.935);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;

}
.second{
    background-image: url(images/sina-bahar-WXRX-ouRL20-unsplash.jpg);
    background-attachment: fixed;
    height: 1200px;
    flex-direction: row;
    gap: 1.6em;
}
h3 {
    font-weight: 700;
    font-size: 1.6rem;
    margin-top: 1em;
  }
  
.card > a {
    margin-bottom: 2em;
  }
.item{
    display: flex;
    flex-direction: column;
    max-width: 320px;
    background-color: rgba(108, 101, 101, 0.852);
    align-items: center;
    border-radius: .5em;
    -webkit-box-shadow: 0px 29px 38px -15px rgba(0,0,0,0.43);
    -moz-box-shadow: 0px 29px 38px -15px rgba(0,0,0,0.43);
    box-shadow: 0px 29px 38px -15px rgba(0,0,0,0.43);
    min-height: 0;
    height: 35rem;
  }
  .img {
    width: 90%;
    height: 200px;
    background-color: rgb(255, 254, 254);
    background-size: cover;
    background-position: center;
    margin-top: 20px;
    border-radius: .3em;;
  }  
  .img-first{
    background-image: url(images/daniele-levis-pelusi-mN-0XJVc5No-unsplash.jpg);
  }
  .img-second{
    background-image: url(images/brandon-jaramillo-NzMzETo-XJE-unsplash.jpg);
  }
  .img-third{
    background-image: url(images/Absolute_Reality_v16_cowrie_shell_black_backgrond_ultra_realis_1.jpg);
  }
  .item:hover{
    background-color: rgba(108, 101, 101, 0.387);
  }
  a:hover{
    background-color: #746f6f;
    scale: 1.10;
  }
  header a:hover{
    scale: 1.15;
  }


  @media (max-width: 740px){
    .second{
      flex-direction: column;
      height: 1750px;
    }
    .blank{
      min-height: 40vh;
    }
    header{
      gap: 0;
    }
  }
